<div class="col-md-12">
    <div class="text-center battlefield-table-placeholder">
        <table class="battlefield-table">
            <tbody>

            <tr class="battlefield-row">
                <td class="battlefield-cell battlefield-cell__busy">
                    <div class="battlefield-cell-content" data-y="0" data-x="0"><span class="z"></span>&nbsp;<div
                                class="marker marker__row">1
                        </div>
                        <div class="marker marker__col">1</div>
                        <div data-id="17m7ExTt252F" data-length="1" data-position="h"
                             class="ship-box ship-box__h ui-draggable ship-box__draggable"
                             style="width: 2em; height: 2em; padding-right: 0px; padding-bottom: 0px;"></div>
                    </div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="0" data-x="1"><span class="z"></span>&nbsp;<div
                                class="marker marker__col">2
                        </div>
                    </div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="0" data-x="2"><span class="z"></span>&nbsp;<div
                                class="marker marker__col">3
                        </div>
                    </div>
                </td>
                <td class="battlefield-cell battlefield-cell__busy">
                    <div class="battlefield-cell-content" data-y="0" data-x="3"><span class="z"></span>&nbsp;<div
                                class="marker marker__col">4
                        </div>
                        <div data-id="6a9ZKT9eLj2u" data-length="1" data-position="h"
                             class="ship-box ship-box__h ui-draggable ship-box__draggable"
                             style="width: 2em; height: 2em; padding-right: 0px; padding-bottom: 0px;"></div>
                    </div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="0" data-x="4"><span class="z"></span>&nbsp;<div
                                class="marker marker__col">5
                        </div>
                    </div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="0" data-x="5"><span class="z"></span>&nbsp;<div
                                class="marker marker__col">6
                        </div>
                    </div>
                </td>
                <td class="battlefield-cell battlefield-cell__busy">
                    <div class="battlefield-cell-content" data-y="0" data-x="6"><span class="z"></span>&nbsp;<div
                                class="marker marker__col">7
                        </div>
                        <div data-id="ncPcdyNbUBKX" data-length="3" data-position="v"
                             class="ship-box ship-box__v ui-draggable ship-box__draggable"
                             style="width: 2em; height: 6em; padding-right: 0px; padding-bottom: 2px;"></div>
                    </div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="0" data-x="7"><span class="z"></span>&nbsp;<div
                                class="marker marker__col">8
                        </div>
                    </div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="0" data-x="8"><span class="z"></span>&nbsp;<div
                                class="marker marker__col">9
                        </div>
                    </div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="0" data-x="9"><span class="z"></span>&nbsp;<div
                                class="marker marker__col">10
                        </div>
                    </div>
                </td>
            </tr>

            <tr class="battlefield-row">
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="1" data-x="0"><span class="z"></span>&nbsp;<div
                                class="marker marker__row">2
                        </div>
                    </div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="1" data-x="1"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="1" data-x="2"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="1" data-x="3"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="1" data-x="4"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="1" data-x="5"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__busy">
                    <div class="battlefield-cell-content" data-y="1" data-x="6"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="1" data-x="7"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="1" data-x="8"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="1" data-x="9"><span class="z"></span>&nbsp;</div>
                </td>
            </tr>

            <tr class="battlefield-row">
                <td class="battlefield-cell battlefield-cell__busy">
                    <div class="battlefield-cell-content" data-y="2" data-x="0"><span class="z"></span>&nbsp;<div
                                class="marker marker__row">3
                        </div>
                        <div data-id="QSXU75rljQkk" data-length="3" data-position="v"
                             class="ship-box ship-box__v ui-draggable ship-box__draggable"
                             style="width: 2em; height: 6em; padding-right: 0px; padding-bottom: 2px;"></div>
                    </div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="2" data-x="1"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="2" data-x="2"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="2" data-x="3"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="2" data-x="4"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="2" data-x="5"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__busy">
                    <div class="battlefield-cell-content" data-y="2" data-x="6"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="2" data-x="7"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__busy">
                    <div class="battlefield-cell-content" data-y="2" data-x="8"><span class="z"></span>&nbsp;<div
                                data-id="sGvTiCqVICcu" data-length="2" data-position="h"
                                class="ship-box ship-box__h ui-draggable ship-box__draggable"
                                style="width: 4em; height: 2em; padding-right: 1px; padding-bottom: 0px;"></div>
                    </div>
                </td>
                <td class="battlefield-cell battlefield-cell__busy">
                    <div class="battlefield-cell-content" data-y="2" data-x="9"><span class="z"></span>&nbsp;</div>
                </td>
            </tr>

            <tr class="battlefield-row">
                <td class="battlefield-cell battlefield-cell__busy">
                    <div class="battlefield-cell-content" data-y="3" data-x="0"><span class="z"></span>&nbsp;<div
                                class="marker marker__row">4
                        </div>
                    </div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="3" data-x="1"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__busy">
                    <div class="battlefield-cell-content" data-y="3" data-x="2"><span class="z"></span>&nbsp;<div
                                data-id="ai83e3Wphh7c" data-length="2" data-position="v"
                                class="ship-box ship-box__v ui-draggable ship-box__draggable"
                                style="width: 2em; height: 4em; padding-right: 0px; padding-bottom: 1px;"></div>
                    </div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="3" data-x="3"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="3" data-x="4"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="3" data-x="5"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="3" data-x="6"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="3" data-x="7"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="3" data-x="8"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="3" data-x="9"><span class="z"></span>&nbsp;</div>
                </td>
            </tr>

            <tr class="battlefield-row">
                <td class="battlefield-cell battlefield-cell__busy">
                    <div class="battlefield-cell-content" data-y="4" data-x="0"><span class="z"></span>&nbsp;<div
                                class="marker marker__row">5
                        </div>
                    </div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="4" data-x="1"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__busy">
                    <div class="battlefield-cell-content" data-y="4" data-x="2"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="4" data-x="3"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="4" data-x="4"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="4" data-x="5"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="4" data-x="6"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="4" data-x="7"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="4" data-x="8"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="4" data-x="9"><span class="z"></span>&nbsp;</div>
                </td>
            </tr>

            <tr class="battlefield-row">
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="5" data-x="0"><span class="z"></span>&nbsp;<div
                                class="marker marker__row">6
                        </div>
                    </div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="5" data-x="1"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="5" data-x="2"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="5" data-x="3"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="5" data-x="4"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="5" data-x="5"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__busy">
                    <div class="battlefield-cell-content" data-y="5" data-x="6"><span class="z"></span>&nbsp;<div
                                data-id="o2g9IRXQdFkh" data-length="4" data-position="v"
                                class="ship-box ship-box__v ui-draggable ship-box__draggable"
                                style="width: 2em; height: 8em; padding-right: 0px; padding-bottom: 3px;"></div>
                    </div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="5" data-x="7"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="5" data-x="8"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="5" data-x="9"><span class="z"></span>&nbsp;</div>
                </td>
            </tr>

            <tr class="battlefield-row">
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="6" data-x="0"><span class="z"></span>&nbsp;<div
                                class="marker marker__row">7
                        </div>
                    </div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="6" data-x="1"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__busy">
                    <div class="battlefield-cell-content" data-y="6" data-x="2"><span class="z"></span>&nbsp;<div
                                data-id="jW6rbzUCtMWT" data-length="2" data-position="v"
                                class="ship-box ship-box__v ui-draggable ship-box__draggable"
                                style="width: 2em; height: 4em; padding-right: 0px; padding-bottom: 1px;"></div>
                    </div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="6" data-x="3"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="6" data-x="4"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="6" data-x="5"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__busy">
                    <div class="battlefield-cell-content" data-y="6" data-x="6"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="6" data-x="7"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="6" data-x="8"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="6" data-x="9"><span class="z"></span>&nbsp;</div>
                </td>
            </tr>

            <tr class="battlefield-row">
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="7" data-x="0"><span class="z"></span>&nbsp;<div
                                class="marker marker__row">8
                        </div>
                    </div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="7" data-x="1"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__busy">
                    <div class="battlefield-cell-content" data-y="7" data-x="2"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="7" data-x="3"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="7" data-x="4"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="7" data-x="5"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__busy">
                    <div class="battlefield-cell-content" data-y="7" data-x="6"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="7" data-x="7"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="7" data-x="8"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="7" data-x="9"><span class="z"></span>&nbsp;</div>
                </td>
            </tr>

            <tr class="battlefield-row">
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="8" data-x="0"><span class="z"></span>&nbsp;<div
                                class="marker marker__row">9
                        </div>
                    </div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="8" data-x="1"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="8" data-x="2"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="8" data-x="3"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="8" data-x="4"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="8" data-x="5"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__busy">
                    <div class="battlefield-cell-content" data-y="8" data-x="6"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="8" data-x="7"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="8" data-x="8"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="8" data-x="9"><span class="z"></span>&nbsp;</div>
                </td>
            </tr>

            <tr class="battlefield-row">
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="9" data-x="0"><span class="z"></span>&nbsp;<div
                                class="marker marker__row">10
                        </div>
                    </div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="9" data-x="1"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__busy">
                    <div class="battlefield-cell-content" data-y="9" data-x="2"><span class="z"></span>&nbsp;<div
                                data-id="PvNbRbJ2Ls3K" data-length="1" data-position="h"
                                class="ship-box ship-box__h ui-draggable ship-box__draggable"
                                style="width: 2em; height: 2em; padding-right: 0px; padding-bottom: 0px;"></div>
                    </div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="9" data-x="3"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="9" data-x="4"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="9" data-x="5"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="9" data-x="6"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="9" data-x="7"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__empty">
                    <div class="battlefield-cell-content" data-y="9" data-x="8"><span class="z"></span>&nbsp;</div>
                </td>
                <td class="battlefield-cell battlefield-cell__busy">
                    <div class="battlefield-cell-content" data-y="9" data-x="9"><span class="z"></span>&nbsp;<div
                                data-id="94WilPyqHLAs" data-length="1" data-position="h"
                                class="ship-box ship-box__h ui-draggable ship-box__draggable"
                                style="width: 2em; height: 2em; padding-right: 0px; padding-bottom: 0px;"></div>
                    </div>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
