<script>

    //paste this code under the head tag or in a separate js file.
    // Wait for window load

    // preload imgs
    var images = [];
    function preload() {
        for (var i = 0; i < arguments.length; i++) {
            images[i] = new Image();
            images[i].src = preload.arguments[i];
        }
    }
    var domain = window.location.hostname.replace("www.", "");
    preload(
        "http://"+domain+"/images/loser_modal.png",
        "http://"+domain+"/images/winner_modal.png",
        "http://"+domain+"/images/cup.png",
        "http://"+domain+"/images/sad.png",
    )

    //tooltip
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

    //google analytics
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-102297034-1', 'auto');
    ga('send', 'pageview');




</script>

</body>
</html>