<!DOCTYPE html>
<html lang="fa">
<head>

    <% include ../partials/head.ejs %>

</head>

<body>

<div class="se-pre-con"></div>
<div id="browser_check">
    <div class="container">
        <div class="row title-wrapper">
            <h3 class="title col-md-8 col-md-offset-2 col-lg-offset-2 col-sm-offset-0 col-xs-offset-0">نسخه مرورگر
                شما قدیمی است!</h3>
            <p class="description col-md-8 col-md-offset-2 col-lg-offset-2 col-sm-offset-0 col-xs-offset-0">
                لطفاً برای ورود به بازی از مروگر دیگری استفاده کنید و یا از قسمت پایین بروزرسانی کنید.
            </p>
        </div>
        <div class="row panel panel-info">
            <div class="panel-heading"> مرورگر گوگل کروم</div>
            <div class="panel-body">
                <div class="col-sm-6">
                    <h5>نسخه دسکتاپ</h5>
                    <a class="btn"
                       href="https://www.google.com/intl/fa/chrome/browser/thankyou.html?platform=win64&statcb=1&installdataindex=defaultbrowser"
                       target="_blank">دانلود</a>
                </div>
                <div class="col-sm-6">
                    <h5>نسخه موبایل</h5>
                    <a class="btn"
                       href="https://play.google.com/store/apps/details?id=com.android.chrome&pcampaignid=thankyoupage"
                       target="_blank">نسخه اندروید</a>
                    <a class="btn" href="https://itunes.apple.com//app/chrome/id535886823" target="_blank">نسخه آی
                        او اس</a>
                </div>
            </div>
        </div>
        <div class="row panel panel-info">
            <div class="panel-heading"> مرورگر فایرفاکس</div>
            <div class="panel-body">
                <div class="col-sm-6">
                    <h5>نسخه دسکتاپ</h5>
                    <a class="btn" href="https://www.mozilla.org/en-US/firefox/new/?f=101&scene=2" target="_blank">دانلود</a>
                </div>
                <div class="col-sm-6">
                    <h5>نسخه موبایل</h5>
                    <a class="btn"
                       href="https://play.google.com/store/apps/details?id=org.mozilla.firefox&referrer=utm_source%3Dmozilla%26utm_medium%3DReferral%26utm_campaign%3Dmozilla-org"
                       target="_blank">نسخه اندروید</a>
                    <a class="btn" href="https://itunes.apple.com/us/app/apple-store/id989804926?mt=8"
                       target="_blank">نسخه
                        آی او اس</a>
                </div>
            </div>
        </div>

    </div>
</div>
<div id="loading">
    <div class="loading__elements">
        <img src="/images/loading.svg" class="moliran_loader">
        <h5 id="loading_title"></h5>
    </div>
</div>
<div id="wrapper">
<% include ../partials/menu.ejs %>
