<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title><%= title %></title>

<!-- Bootstrap -->
<link href="/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap rtl -->
<link href="/bootstrap-rtl/css/bootstrap-rtl.min.css" rel="stylesheet">

<!-- Sweet Alert -->
<link href="/stylesheets/sweetalert.css" rel="stylesheet">

<!-- Font Awesome -->
<link href="/stylesheets/font-awesome.css" rel="stylesheet">

<!-- Toast -->
<link href="/stylesheets/jquery.toast.css" rel="stylesheet">

<!-- Battleship -->
<!--<link href="/stylesheets/battleship.css" rel="stylesheet">-->

<!-- Lato font-->
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<!-- style -->
<link href="/stylesheets/style.css" rel="stylesheet">

<!-- style -->
<link href="/stylesheets/battleship.css" rel="stylesheet">

<!-- style -->
<link href="/stylesheets/main.css" rel="stylesheet">

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
