<% include ./partials/header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="content gameBoard gameBoardDot">
                <div class="timer"></div>
                <div id="dot_board_game" class="text-center"></div>
            </div>
        </div>
    </div>
</div>


<% include ./partials/libs.ejs %>
<script src="/javascripts/test_client_speed.js"></script>
<script src="/javascripts/socket.io.min.js"></script>
<script src="/javascripts/circular-countdown.min.js"></script>
<script src="/javascripts/dot-frontend-game.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        var url = window.location.href;
        url = url.replace("www.", "");
        var arr = url.split("/");
        var socketAddress = arr[0] + "//" + arr[2];

        var token = localStorage.getItem('token');
        if (!token) {
            localStorage.setItem('continueUrl', window.location.href);
            return window.location.href = '/login';
        }
        var gameLevel = '<%= gameLevel %>';

        var codeConfirmationDescription = "لطفاً کُد داخل اس ام اس را وارد کنید!";
        if (gameLevel == 'easy') {
            codeConfirmationDescription += "<br>" + "برای بازی در مرحله ساده پس از وارد کردن کد تایید از حساب شما ۵۰۰ تومان کسر خواهد شد!";
        } else if (gameLevel == 'normal') {
            codeConfirmationDescription += "<br>" + "برای بازی در مرحله متوسط پس از وارد کردن کد تایید از حساب شما ۷۰۰ تومان کسر خواهد شد!";
        } else if (gameLevel == 'hard') {
            codeConfirmationDescription += "<br>" + "برای بازی در مرحله سخت پس از وارد کردن کد تایید از حساب شما ۹۰۰ تومان کسر خواهد شد!";
        }

        $(".se-pre-con").append("<p style='position: absolute;bottom: 50px;color: #ccc;left: 50%;transform: translateX(-50%);'>در حال تست سرعت اینترنت...</p>")
        MeasureConnectionSpeed(function (speeds) {
            if (speeds.Kbps < 64) {
                $("body").append("<div class='speedlimit'><i class='fa fa-frown-o fa-3x'></i><p>متاسفانه سرعت اینترنت شما مناسب نیست!</p></div>");
                console.log(speeds);
                return false;
            }
        });


        var socket = io(socketAddress, {
            query: 'token=' + token + '&gameType=' + '<%= gameType %>' + '&gameLevel=' + '<%= gameLevel %>'
        });

        socket.on('error', function (error) {
            $("#loading").fadeOut(100);
            swal({
                title: "خطا",
                text: error,
                type: "error",
                confirmButtonText: "خب",
                cancelButtonText: "بازی‌ها",
                showCancelButton: true,
                allowOutsideClick: false,
            }).then(function () {
                refresh();
            }, function (dismiss) {
                if (dismiss === 'cancel') {
                    return location.href = "/games";
                }
            });
        });

        socket.on('disconnect', function (data) {
            if (data !== "io client disconnect") {
                swal({
                    title: "خطا",
                    text: "ارتباط با سرور قطع شد!",
                    showConfirmButton: false,
                    type: "error",
                    allowOutsideClick: false
                });
            }
        });

        socket.on('dot_waitingForOpponent', function () {
            $("#loading_title").html("منتظر یافتن حریف");
            $("#loading_title").after('<a href="/games" class="btn" id="giveUp">بی خیال</a>');
            $("#loading").fadeIn(100);
        });

        socket.on('userNeedCharging', function () {
            socket.disconnect();
            return window.location.href = socketAddress + '/charge';
        });

        socket.on('dot_nextStep', function (data) {
            $("#giveUp").remove();
            creategame(data, socket);
        });

        $(document).on('click', 'a.side', function () {

            var aSide = $(this);

            if (aSide.find('div').hasClass('done')) {
                swal({
                    title: "خطا",
                    text: "این خانه را نمی توانید انتخاب کنید!",
                    type: "warning",
                    confirmButtonText: "خـُــب",
                    allowOutsideClick: false
                });
            } else {

                $("#loading").fadeIn(100);
                $("#loading_title").html("");

                $(this).find('div').css('background', myColor);
                $(this).addClass('clicked');

                var str = $(this).attr('id');
                var res = str.split("-");
                if (res[0] === "h") {
                    socket.emit('dot_drawLine', {
                        'side': "h",
                        'i': parseInt(res[1]),
                        'j': parseInt(res[2])
                    });
                } else if (res[0] === "v") {
                    socket.emit('dot_drawLine', {
                        'side': "v",
                        'i': parseInt(res[1]),
                        'j': parseInt(res[2])
                    });
                }
            }
        });

    });

</script>

<% include ./partials/footer.ejs %>
