<% include ./partials/header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="content transparent">
                <ul class="topusers">

                    <li class="topuser topuser--first">
                        <div class="rank">
                            <span class="rank__text">1</span>
                        </div>
                        <div class="topuser-info">
                            <div class="meta">
                                <img src="./images/avatar.png" alt="" class="user-avatar">
                                <p class="user-nickname"></p>
                            </div>
                            <div class="user-records">
                                <div class="record-wrapper">
                                    <p class="user-record"></p>
                                    <p>Record 1</p>
                                </div>
                                <div class="record-wrapper">
                                    <p class="user-record">??</p>
                                    <p>Record 2</p>
                                </div>
                                <div class="record-wrapper">
                                    <p class="user-record">??</p>
                                    <p>Record 3</p>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="topuser topuser--second">
                        <div class="rank">
                            <span class="rank__text">2</span>
                        </div>
                        <div class="topuser-info">
                            <div class="meta">
                                <img src="./images/avatar.png" alt="" class="user-avatar">
                                <p class="user-nickname"></p>
                            </div>
                            <div class="user-records">
                                <div class="record-wrapper">
                                    <p class="user-record"></p>
                                    <p>Record 1</p>
                                </div>
                                <div class="record-wrapper">
                                    <p class="user-record">??</p>
                                    <p>Record 2</p>
                                </div>
                                <div class="record-wrapper">
                                    <p class="user-record">??</p>
                                    <p>Record 3</p>
                                </div>
                            </div>
                        </div>

                    </li>

                    <li class="topuser topuser--third">
                        <div class="rank">
                            <span class="rank__text">3</span>
                        </div>
                        <div class="topuser-info">
                            <div class="meta">
                                <img src="./images/avatar.png" alt="" class="user-avatar">
                                <p class="user-nickname"></p>
                            </div>
                            <div class="user-records">
                                <div class="record-wrapper">
                                    <p class="user-record"></p>
                                    <p>Record 1</p>
                                </div>
                                <div class="record-wrapper">
                                    <p class="user-record">??</p>
                                    <p>Record 2</p>
                                </div>
                                <div class="record-wrapper">
                                    <p class="user-record">??</p>
                                    <p>Record 3</p>
                                </div>
                            </div>
                        </div>

                    </li>

                    <li class="topuser topuser--fourth">
                        <div class="rank">
                            <span class="rank__text">4</span>
                        </div>
                        <div class="topuser-info">
                            <div class="meta">
                                <img src="./images/avatar.png" alt="" class="user-avatar">
                                <p class="user-nickname"></p>
                            </div>
                            <div class="user-records">
                                <div class="record-wrapper">
                                    <p class="user-record"></p>
                                    <p>Record 1</p>
                                </div>
                                <div class="record-wrapper">
                                    <p class="user-record">??</p>
                                    <p>Record 2</p>
                                </div>
                                <div class="record-wrapper">
                                    <p class="user-record">??</p>
                                    <p>Record 3</p>
                                </div>
                            </div>
                        </div>

                    </li>

                    <li class="topuser topuser--fifth">
                        <div class="rank">
                            <span class="rank__text">5</span>
                        </div>
                        <div class="topuser-info">
                            <div class="meta">
                                <img src="./images/avatar.png" alt="" class="user-avatar">
                                <p class="user-nickname"></p>
                            </div>
                            <div class="user-records">
                                <div class="record-wrapper">
                                    <p class="user-record"></p>
                                    <p>Record 1</p>
                                </div>
                                <div class="record-wrapper">
                                    <p class="user-record">??</p>
                                    <p>Record 2</p>
                                </div>
                                <div class="record-wrapper">
                                    <p class="user-record">??</p>
                                    <p>Record 3</p>
                                </div>
                            </div>
                        </div>

                    </li>

                    <li class="topuser topuser--sixth">
                        <div class="rank">
                            <span class="rank__text">6</span>
                        </div>
                        <div class="topuser-info">
                            <div class="meta">
                                <img src="./images/avatar.png" alt="" class="user-avatar">
                                <p class="user-nickname"></p>
                            </div>
                            <div class="user-records">
                                <div class="record-wrapper">
                                    <p class="user-record"></p>
                                    <p>Record 1</p>
                                </div>
                                <div class="record-wrapper">
                                    <p class="user-record">??</p>
                                    <p>Record 2</p>
                                </div>
                                <div class="record-wrapper">
                                    <p class="user-record">??</p>
                                    <p>Record 3</p>
                                </div>
                            </div>
                        </div>

                    </li>

                    <li class="topuser topuser--seventh">
                        <div class="rank">
                            <span class="rank__text">7</span>
                        </div>
                        <div class="topuser-info">
                            <div class="meta">
                                <img src="./images/avatar.png" alt="" class="user-avatar">
                                <p class="user-nickname"></p>
                            </div>
                            <div class="user-records">
                                <div class="record-wrapper">
                                    <p class="user-record"></p>
                                    <p>Record 1</p>
                                </div>
                                <div class="record-wrapper">
                                    <p class="user-record">??</p>
                                    <p>Record 2</p>
                                </div>
                                <div class="record-wrapper">
                                    <p class="user-record">??</p>
                                    <p>Record 3</p>
                                </div>
                            </div>
                        </div>

                    </li>

                    <li class="topuser topuser--eighth">
                        <div class="rank">
                            <span class="rank__text">8</span>
                        </div>
                        <div class="topuser-info">
                            <div class="meta">
                                <img src="./images/avatar.png" alt="" class="user-avatar">
                                <p class="user-nickname"></p>
                            </div>
                            <div class="user-records">
                                <div class="record-wrapper">
                                    <p class="user-record"></p>
                                    <p>Record 1</p>
                                </div>
                                <div class="record-wrapper">
                                    <p class="user-record">??</p>
                                    <p>Record 2</p>
                                </div>
                                <div class="record-wrapper">
                                    <p class="user-record">??</p>
                                    <p>Record 3</p>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="topuser topuser--ninth">
                        <div class="rank">
                            <span class="rank__text">9</span>
                        </div>
                        <div class="topuser-info">
                            <div class="meta">
                                <img src="./images/avatar.png" alt="" class="user-avatar">
                                <p class="user-nickname"></p>
                            </div>
                            <div class="user-records">
                                <div class="record-wrapper">
                                    <p class="user-record"></p>
                                    <p>Record 1</p>
                                </div>
                                <div class="record-wrapper">
                                    <p class="user-record">??</p>
                                    <p>Record 2</p>
                                </div>
                                <div class="record-wrapper">
                                    <p class="user-record">??</p>
                                    <p>Record 3</p>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="topuser topuser--tenth">
                        <div class="rank">
                            <span class="rank__text">10</span>
                        </div>
                        <div class="topuser-info">
                            <div class="meta">
                                <img src="./images/avatar.png" alt="" class="user-avatar">
                                <p class="user-nickname"></p>
                            </div>
                            <div class="user-records">
                                <div class="record-wrapper">
                                    <p class="user-record"></p>
                                    <p>Record 1</p>
                                </div>
                                <div class="record-wrapper">
                                    <p class="user-record">??</p>
                                    <p>Record 2</p>
                                </div>
                                <div class="record-wrapper">
                                    <p class="user-record">??</p>
                                    <p>Record 3</p>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="topuser topuser--current hidden">
                        <div class="rank">
                            <span class="rank__text"></span>
                        </div>
                        <div class="topuser-info">
                            <div class="meta">
                                <img src="./images/red-avatar.png" alt="" class="user-avatar">
                                <p class="user-nickname"></p>
                            </div>
                            <div class="user-records">
                                <div class="record-wrapper">
                                    <p class="user-record"></p>
                                    <p>Record 1</p>
                                </div>
                                <div class="record-wrapper">
                                    <p class="user-record">??</p>
                                    <p>Record 2</p>
                                </div>
                                <div class="record-wrapper">
                                    <p class="user-record">??</p>
                                    <p>Record 3</p>
                                </div>
                            </div>
                        </div>

                    </li>



                </ul>
            </div>
        </div>
    </div>
</div>


<% include ./partials/libs.ejs %>
<% include ./partials/footer.ejs %>
<script src="./public/javascripts/perfect-scrollbar.min.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            method: "POST",
            url: "/record",
            data: {_token: localStorage.getItem("token")},
            success: function (result) {
                    console.log(result)
                if (result.result) {
                    var i = 1;
                    $.each(result.topUsers, function () {
                        $(".topuser:nth-child(" + i + ") .user-avatar").attr("alt", this.nickname);
                        $(".topuser:nth-child(" + i + ") .user-nickname").text(this.nickname);
                        $(".topuser:nth-child(" + i + ") .user-record").first().text(this.winsCount);
                        i++;
                    })
                    if (result.yourRating) {
                        var user_nickname = JSON.parse(localStorage.getItem("user")).nickname;
                        var found = false;
                        if (result.yourRating <= 10) {
                            $(".user-nickname").each(function () {
                                if ($(this).text() === user_nickname) {
                                    $(this).parents(".topuser").first().addClass("topuser--current");
                                    $(this).prev("img").attr("src", "./images/red-avatar.png");
                                    found = true;
                                }
                            })
                        }
                        if (result.yourRating >= 10 && !found) {
                            console.log(result);
                            $(".topuser--current").removeClass("hidden");
                            $(".topuser--current .rank__text").text(result.yourRating);
                            $(".topuser--current .user-record").first().text(result.winsCount);
                            $(".topuser--current .user-nickname").text(user_nickname);
                            $(".topuser--current .user-avatar").attr("alt", user_nickname);
                        }
                    }
                }
            }
        });
        $('.content').perfectScrollbar();
    });
</script>